.env
/vendor
/node_modules
/public/build
/public/storage
/public/hot

.env.example
composer.lock
package-lock.json

ChatGPT/

#### ARE THESE NEEDED? ####

npm-debug.log
yarn-error.log
# Laravel 4 specific
bootstrap/compiled.php
app/storage/

storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

*.lock
.idea/
