.quest_body * {
}

.quest_body h1, .quest_body h2, .quest_body h3, .quest_body h4 {
    color: #662d91;
    font-weight: 800;
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
    line-height: 1.15;
}

.quest_body h1 {
    font-size: 2.25rem;
}

.quest_body h2 {
    font-size: 1.855rem;
}

.quest_body h3 {
    font-size: 1.35rem;
}

.quest_body h4 {
    font-size: 1.15rem;
}

.quest_body p {
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
}

.quest_body a {
    font-weight: bolder;
    color: #F26522;
    text-decoration: none;
}

.quest_body a:hover {
    font-weight: bolder;
    color: #FF0000;
    text-decoration: underline;
}

.quest_body ul, .quest_body ol {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    padding-left: 2.5rem;
}

.quest_body ul li, .quest_body ol li {
    margin: 0;
    padding: 0;
}

.quest_body .bonus_xp p {
    color: green;
    font-size: .875rem;
}

.quest_body blockquote {
    margin: 1.5rem 2.5rem;
    padding: .75rem 1.5rem;
    font-size: 1.15em;
    color: #333;
    border-left: 3px solid #662d91;
    background-color: rgba(255, 255, 255, 0.5);
}

.quest_body blockquote p {
    margin: 0;
}

.tg-button-purple, .tg-button-orange, .tg-button-green, .tg-button-gray, .tg-button-purple:hover, .tg-button-orange:hover, .tg-button-green:hover, .tg-button-gray:hover {
    margin: 0.5rem auto;
    padding: 0.5rem 1.0rem;
    text-decoration-line: none;
    font-weight: 800;
    border-radius: 0.5rem;
    text-align: center;
    display: block;
}

.tg-button-purple {
    background-color: #9547d6; /*bg-seance-600*/
    color: #dddddd; /*light-gray*/
}

.tg-button-purple:hover {
    background-color: #8035bb; /*bg-seance-700*/
    color: #ffffff; /*white*/
}

.tg-button-orange {
    background-color: #f26522; /*bg-orange-500*/
    color: #dddddd; /*light-gray*/
}

.tg-button-orange:hover {
    background-color: #e34813; /*bg-orange-600*/
    color: #ffffff; /*white*/
}

.tg-button-green {
    background-color: #16a34a; /*bg-green-600*/
    color: #dddddd; /*light-gray*/
}

.tg-button-green:hover {
    background-color: #15803d; /*bg-green-700*/
    color: #ffffff; /*white*/
}

.tg-button-gray, .tg-button-gray:hover {
    background-color: #d1d5db; /*bg-gray-300*/
    color: #8035bb; /*bg-seance-600*/
}
