@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0 !important; /* 1 */

}

a {
    color: #f26522 !important;
    /* text-decoration: inherit;*/
}

a:hover {
    color: #f26522 !important;
    text-decoration: underline;
}

ol,
ul,
menu {
    list-style:disc !important;

}
